<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" text="text/css" href="../static/index.css">
        <script src="../static/index.js"></script>
    </header>
    <body>
        <h1>Pittsburgh Bush Destination</h1>
        <p id="current_time">Current time: </p>
        <p>Next stop at Forbes - Wightmen is a {{ bus }}</p>
        <h3 id="estimated_time">Estimated arrival: <div id="date">{{ date }}</div> <div id="hour">{{ hour }}</div>:<div id="minute">{{ minute }}</div>:<div id="second">{{ second }}</div> <div id="meridiem">{{ meridiem }}</div></h2>
        <h1 id="difference_time">You have </h1>
        <h3 id="time">It's {{ temp }}°F right now</h3>
        {% if temp > 80 %}
            <p>"So I'm going through the summer coursework that they have for the onboarding proces for freshmen and I'm thinking that there must be a more concise way to present this information</p>
            <h3>Gosh it's hot</h3>
        {% elif temp > 70 %}
            <h3>I'm glad it's a normal temperature</h3>
        {% else %}
            <h3>Brrrr, it's cold</h3>
            <p>So I'm going through the summer coursework that they have for the onboarding proces for freshmen and I'm thinking that there must be a more concise way to present this information</p>
        {% endif %}
    </body>
</html>