:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1A1D29;
  padding: 40px;
  margin: 0px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* https://codepen.io/sdthornton/pen/wBZdXq */
.bus-tile {
    background: #B1B2B5;
    color: #1A1D29;
    /* material design box shadow */
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 40px;
    padding: 5px;
    font-size: 3em;
    text-align: right;
    border-radius: 3px;
}

.bus-tile .left {
    float:left;
}

.error {
    font-size: 3em;
    text-align: center;
    color: hsl(350, 100%, 50%);
}
